@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: rgb(255, 252, 245);
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}


.site-title{
    font-size: 2rem;
    text-align: left;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}


.nav li.active {
   color: rgb(183, 160, 140);
    text-decoration: underline;
}

.nav li:hover{
    background-color: rgb(255, 243, 236);
}

